nav a span.my-icon2{width: 30px;height: 30px;background: url("../imgs/foot_icons.png")0 -29px no-repeat;background-size: 119px;}
nav a span.my-icon3{width: 30px;height: 30px;background: url("../imgs/foot_icons.png")-31px -29px no-repeat;background-size: 119px;}
nav a span.my-icon4{width: 30px;height: 30px;background: url("../imgs/foot_icons.png")-62px 2px no-repeat;background-size: 119px;}
nav a span.my-icon5{width: 30px;height: 30px;background: url("../imgs/foot_icons.png")-93px -29px no-repeat;background-size: 119px;}
