*{margin: 0;padding: 0;font-family: "Microsoft YaHei"}
.contain {
    width: 800px;
    height: 500px;
    margin: 50px auto;
}

.top {
    width: 730px;
    height: 460px;
    margin: 0 auto;
    position: relative
}

ul li {
    list-style-type: none;
    float: left;
}

img {
    vertical-align: top;cursor: pointer;
}

.one {
    position: relative
}

.one li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.one li.ro {
    display: block
}

.su {
    position: absolute;
    bottom: 20px;
    left: 45%;
    line-height: 20px;
    text-align: center;
}

.su li {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50%;
    margin: 0px 8px;
    cursor: pointer;
}

.su li:hover {
    background-color: rgba(255, 255, 255, .75);
    color: #fff;
}

li.lo {
    background-color: rgba(255, 255, 255, .75); color: #fff;
}
.zy {
    font-size: 20px;position: absolute;left: 10px;top:43%;
}
.zy li{padding: 15px 15px;background: rgba(255,255,255,.25);cursor: pointer}
.left{margin-left: 0px;margin-right: 620px}
.zy li:hover{background: rgba(255,255,255,.8);}